/* Font color */
$primary: #000;
$secondary: #fff;

/* Hover */
$hover: #FFFF00;

/* Active */
$active: #FF0000;

/* Cards background */
$bg: #FAFAFA;

/* Adaptive */
$mobile: "(max-width: 565px)";
$tablet: "(max-width: 991px)";
$notebook: "(max-width: 1199px)";