.header {
  width: 100%;

  margin-top: 25px;
  position: absolute;

  top: 0;
  left: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.header__logo {
  margin-right: 60px;
}

.header__img {
  max-width: 100%;

  @media #{$mobile} {
    width: 150px;
  }
}