.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 500px;

  position: relative;
  overflow: hidden;


  background: url("../images/main-bg.png") center no-repeat;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.intro__title {
  text-align: center;
  align-items: center;

  font-size: 48px;
  color: $secondary;
  text-transform: uppercase;

  font-weight: 300;
  font-family: 'Open Sans', sans-serif;

  @media #{$mobile} {
    font-size: 40px;
  }
}

.intro__text {
  margin-top: 84px;

  font-size: 18px;
  line-height: 1.5;
  color: $secondary;

  font-weight: 400;
  font-family: 'PT Sans', sans-serif;

  @media #{$notebook} {
    margin-top: 44px;
  }

  @media #{$mobile} {
    font-size: 16px;
  }
}