.section {
  margin-top: 80px;
}

.section__title {
  margin-bottom: 32px;

  text-align: center;

  font-size: 18px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.section__text {
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
}